@keyframes cardfade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

html, body {
    margin: 0px;
    padding: 0px;
}

#logo {
    float: left;
}

#mainNav {
    float: right;
}

main {
    clear: both;
}

#searchBar {
    width: 80%;
    margin: 0 auto;
    border: .125rem solid blue;
    border-radius: 2rem;
}

.searchInput {
    width: 30%;
    line-height: 2rem;
}

.searchBtn {
    display: inline;
}

#input1, #input2 {
    margin-left: 1rem;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 2px solid black;
}

.navItem {
    float: left;
    margin-right: 1rem;
    text-transform: uppercase;
    list-style: none;
}

.fonts {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 0px;
    box-sizing: border-box;
}

.font-family {
    width: 20%;
    display: flex;
    margin: 5px;
    padding: 2% 0;
    align-items: center;
    list-style: none;
    box-shadow: 0 0 5px gray;
}

.fontBtn {
    position: relative;
    left: 15rem;
    bottom: 1rem;
}

.fontPara {
    border-bottom: 1px solid gray;
}


/*
[contenteditable='true']:hover {
    cursor: text;
}
 
[contenteditable='true']:empty::before {
    content: "Then came the night of the first falling star.";
}

[contenteditable='true']:focus {
    outline: none;
    caret-color: red;
}
/*
.no-outline {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.no-outline:focus {
    outline: none;
}
*/

footer {
    clear: both;
}